html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* width: 100%; */
  /* overflow: hidden; */
}

text {
  font-family: "Courier New";
}

#container {
  margin: 0;
  padding: 0;
  background: #EEEEEE;
  height: 100%;
  overflow: hidden;
}