html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* width: 100%; */
  /* overflow: hidden; */
}

text {
  font-family: "Courier New";
}

#container {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  overflow: hidden;
  background: #EEEEEE;
}